h1 {
    text-align: center;
}
td {
    width: 100px;
    height: 100px;
    text-align: center;
}
#board {
    margin: 100px auto;
}

#board:hover{
    cursor: pointer;
}
.vert {
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.hori {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.symbol{
    color: #000;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 6em;
    font-weight: bold;
}
